<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Doc Table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<div>
    <a href="#" th:href="@{/document/viewAll}">
        <button>Все документы</button>
    </a>
</div>
<div th:if="${#lists.isEmpty(documents)}">
    <td colspan="2">Нет документов</td>
</div>
<div th:if="${not #lists.isEmpty(documents)}">
    <table class="table">
        <thead>
        <th>Заголовок</th>
        <th>Тема</th>
        <th>Создано</th>
        </thead>
        <tbody>
        <tr th:each="document : ${documents}">
            <td>
                <a th:href="@{/document/view/{id}(id=${document.id})}">
                    <span th:text="${document.tittle}"> Title </span>
                </a>
            </td>
            <td>
                <a th:href="@{/document/view/{id}(id=${document.id})}">
                    <span th:text="${document.theme}"> Theme </span>
                </a>
            </td>
            <td>
                <a th:href="@{/document/view/{id}(id=${document.id})}">
                    <span th:text="${document.createdDate}"> createdDate </span>
                </a>
            </td>
            <th:block th:if="${#authentication.getName().equals('director@mail.ru')}">
                <td>
                    <a th:href="@{/document/edited/{id}(id=${document.id})}">
                        <button>Редактировать</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/document/delete/{id}(id=${document.id})}">
                        <button>Удалить</button>
                    </a>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>


<div th:insert="~{footer :: mainPage}"></div>

</body>
</html>