<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<div>
    <a href="#" th:href="@{/task/edit/{id}(id=0)}">
        <button>Создать новое поручение</button>
    </a>
    <a href="#" th:href="@{/assignments/getAll}">
        <button>Все поручения</button>
    </a>
</div>
<div th:if="${#lists.isEmpty(tasks)}">
    <td colspan="2">Нет поручений</td>
</div>
<div th:if="${not #lists.isEmpty(tasks)}">
    <table class="table">
        <thead>
        <th>Заголовок</th>
        <th>Для</th>
        <th>Создано</th>
        <th>Сделано</th>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <span th:text="${task.tittle}"> Title </span>
                </a>
            </td>
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <span th:text="${task.user.firstName}"> For </span>
                </a>
            </td>
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <span th:text="${task.createdDate}"> Author </span>
                </a>
            </td>
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <div th:if="${task.canceled}">
                        <span>отменено</span>
                    </div>
                    <div th:if="${!task.canceled}">
                        <th:block th:switch="${task.doneDate}">
                            <div th:case="null">
                                <span>нет</span>
                            </div>
                            <div th:case="*">
                                <span>да</span>
                            </div>
                        </th:block>
                    </div>
                </a>
            </td>
            <th:block th:if="${#authentication.getName().equals('director@mail.ru')}">
                <td>
                    <a th:href="@{/task/edit/{id}(id=${task.id})}">
                        <button>Редактировать</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/task/delete/{id}(id=${task.id})}">
                        <button>Удалить</button>
                    </a>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="~{footer :: mainPage}"></div>


</body>
</html>