<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Поручения</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/js/getAssignments.js"></script>
<script type="text/javascript" src="/static/js/newAssignment.js"></script>
<span class='username'> </span> <br>
<button type="button" class="btn btn-default" id="getAssignmentsBtn">Получить все созданные Мной поручения</button><br>
<button type="button" class="btn btn-default" id="getDelegatedAssignmentsBtn">Получить все делегированные Мне поручения</button><br>
<button type="button" class="btn btn-default" id="getGivenAssignmentsBtn">Получить все назначенные Мне поручения</button><br>
<button type="button" class="" id="createNewAssignment">Создать новое поручение</button>
<h2>Создать новое поручение</h2>
<input type="text" id="emailAssignee" title="email сотрудника">
<input type="file" id="file" title="Загрузить файлы">
<button id="sendAssignment">Отправить</button><br>
<h2>Все созданные мной поручения</h2>
<table id="assignmentTable" border='1'>
    <tr>
        <th>ID поручения</th>
        <th>Кто дал поручение</th>
        <th>Кому было поручено</th>
        <th>Статус</th>
        <th>Делегировано?</th>
        <th>Удалить поручение</th>
        <th>Подписать документы</th>
    </tr>
</table>
<h2>Делегированные мне поручения</h2>
<table id="delegatedAssignmentsToMe" border="1">
    <tr>
        <th>ID поручения</th>
        <th>Кто дал поручение</th>
        <th>Кому было поручено</th>
        <th>Cтатус</th>
        <th>Кому переназначено</th>
    </tr>
</table>
<h2>Назначенные мне поручения</h2>
<table id="givenAssignments" border="1">
    <tr>
        <th>ID поручения</th>
        <th>Кто дал поручение</th>
        <th>Кому было поручено</th>
        <th>Cтатус</th>
        <th>Делегировать</th>
        <th>Подписать</th>
    </tr>
</table>
</body>
</html>