<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое поручение</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/js/newAssignment.js"></script>
<h2>Создать новое поручение</h2>
<input type="text" id="emailAssignee" title="email сотрудника">
<input type="file" id="file" title="Загрузить файлы">
<button id="sendAssignment">Отправить</button>
</body>
</html>